

.people  {
   border: 5px solid rgb(218, 215, 215);
   padding: 5px;
   margin: 50px;

}

.person-info  {
  display: inline-block;
  border: 1px solid blue;
  margin: 5px;
  padding: 5px;
  width: 250px;
}
